{% extends "base.html" %}
  {% block content %}

  <div class="container">
  <div class="panel-group">
    <div class="panel panel-default">    

      <div class="panel-heading" align="center">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3"> <b> <h2> Conversion Tools </h2> </b> </a>
        </h4>
      </div>
  
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body" align="center"> <a href = '/csv-to-tsv'> CSV to TSV </a> </div>
		<div class="panel-body" align="center"> <a href = '/tsv-to-csv'> TSV to CSV </a> </div>
      </div>

    </div>
  </div>
  </div>
  
  {% endblock %} 
